<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table cellpadding="15">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item:${items}">
        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getPrice()}"></td>
    </tr>
    </tbody>
</table>
<br><br>
<form th:action="@{'/addItem'}" method="post">
    NAME: <input type="text" name="name">
    PRICE: <input type="text" name="price">
    <button>SUBMIT</button>
</form>
</body>
</html>